@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
    color: black;
}

.movie-card {
    margin-top: 5rem;
    height: 65vh;
    text-align: center;
}

.movie-title {
    text-transform: capitalize;

}

.movie-poster-container img {
    margin-top: 2rem;
    height: 50%;
    border-radius: 50px;
    /*add for animation*/
    position: relative;
    left: -50rem;
    animation: slide-from-left 3.0s ease-in-out forwards;
    transition: all 1s;
    
  
    
}

/* add hover effect*/
.movie-poster-container img:hover {

    transform: scale(1.1s);
    box-shadow: 20px 20px 20px -10px; white
    


}

    
   
    
    


@keyframes slide-from-left{
    80% {left: 1.5 rem;}
    100% {left: 0;}
    
}

.movie-rating {
    display: /*your code here*/;
    border: 1px solid black;
    padding: 0;
    border-radius: 5px;
}

.movie-duration {
    margin-left: 1rem;
    letter-spacing: 0.2rem;
}

.movie-duration:before {
    content: "\2022";
}

.movie-info-quote {
    color: #151515a4;
    font-style: /*your code here*/;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.movie-info-overview-title {
    text-transform: /*your code here*/;
    letter-spacing: 0.1rem;
}

.movie-info-actions {
    font-size:1.1rem;
}

.movie-info-actions ul {
    list-style: none;
}

.movie-info-actions ul li {
    display: inline-block;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(3, 37, 65);
    
}





.movie-info-actions ul li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    margin-top: 2rem;
    text-align: /*your code here*/;
    color: #777;
}

footer ul {
    list-style: none;

    
    
}

footer ul li {
    display: /*your code here*/;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

footer ul li a {
    font-size: 1.5rem;
    text-transform: /*your code here*/;
    text-decoration: none;
    color: #777;
}

